<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Fitness Gym </title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body>
    <div>
    </div>
    <header class="header">
        <div class="right">
            <button class="btu" >Call Us</button>
            <button class="btu">Email-Id</button>
        </div>
        <div class="mid">
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Fitness Center</a></li>
                <li><a href="#">About us </a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="left">
            <!-- <div class="img">
                <img src="/IMG/png.png" alt="">
            </div> -->
        
        <div>Power Fitness Gym</div>
        </div>
    </header>
    <div class="container">
        <h1>Power Fitness Gym </h1>
    
    <form action="noaction.php">
        <div class="group_form">
            <input type="text" name="" placeholder="Your Name">
        </div><br>
        <div class="group_form">
            <input type="number" name="" placeholder="Your Age">
        </div><br>
        <div class="group_form">
            <input type="text" name="" placeholder="Gender">
        </div><br>
        <div class="group_form">
            <input type="text" name="" placeholder="Contact no.">
        </div><br>
        <button style="font-size: 18px;">Submit</button>
    </form>
</div>
</body>
</html>